
.hex-holoder {
	padding-top:80px}
	
.servises {
	margin:0;
	display:table-cell;
	width:100%;
	list-style:none;}
	
.servises > li {
	display:inline-block;
	width:32%;}
	
#srv1,#srv5 {
	margin-left:16%;}	
